.width95
{
	width: 95%;
}

.width100
{
	width: 100%;
}

input {
		/*Тени*/
		-webkit-box-shadow: 2px 2px 0px #efefef;
        -moz-box-shadow: 2px 2px 0px #efefef;
        box-shadow:  2px 2px 0px #efefef;	
}


.element_container 
{
	min-width: 200px;	
}

label
{
	font: 80%;
}


.note 
{
	color: #999;
	font: 12px Arial, Helvetica, sans-serif;
	padding-bottom: 5px;
}

/*Подсветка текущего поля*/
input:focus 
{
        -webkit-box-shadow: 0px 0px 5px #007eff;
        -moz-box-shadow: 0px 0px 5px #007eff;
        box-shadow: 0px 0px 5px #007eff;
}


.icon_button
{
	border: 0;
	float: right;
	cursor: pointer;
	text-align:center;
	vertical-align:central;
	margin: 0 2px 0px 2px;
}

.bordered
{
	border: 1px double #FFFFFF;
	position:relative;
	top: -2px;
}




